@import url('https://fonts.googleapis.com/css?family=Oswald:400,700,900');

/* Base styling */

body {
    width: 430px;
    margin: 0 auto;
    background-color: #feffff;
    font-family: 'Oswald', sans-serif;
}

.pass_container {
    padding-top: 64px;
}

.pass_title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #312c32;
}

.pass_input_area {
    width: 100%;
    height: 70px;
    position: relative;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #daad86;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.pass_input {
    font-size: 14px;
    line-height: 18px;
    border: 0;
    background: transparent;
    width: 100%;

    box-sizing: border-box;
    padding: 10px 32px 10px;
    font-size: 18px;
    color: #312c32;
    border-radius: 34px;
    display: flex;
}

.pass_input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.pass_details {
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #daad86;
}

.pass_checker {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #312c32;
}

.btn_share {
    
}